<div class="text-small">
  <i class="icon icon-cpu text-muted"></i> <span>{{cpu}} mCPU</span>
</div>
<div class="text-small">
  <i class="icon icon-memory text-muted"></i> <span>{{memory}} MiB</span>
</div>