<section class="header clearfix">
  <div class="pull-left pt-10"><h1 class="text-capitalize">{{t 'istio.header.trafficMonitoring'}}</h1></div>
</section>

{{traffic-monitoring
  workloads=model.workloads
}}